<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 属性文件配置-->
    <springProperty scope="context" name="logging.file.path" source="logging.file.path"/>
    <springProperty scope="context" name="logging.file.name" source="logging.file.name"/>
    <springProperty scope="context" name="logging.pattern.rolling-file-name" source="logging.pattern.rolling-file-name"/>
    <springProperty scope="context" name="logging.level"
                    source="logging.level.com.streamslience.springaction.exceptionhandler"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level}</level>
        </filter>
        <file>
            ${logging.file.path}/${logging.file.name}
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.pattern.rolling-file-name}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILEOUT"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
